# Environments
venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# Testing
.coverage
.pytest_cache/